<section class="login-wrapper d-flex justify-content-center">
  <div class="login d-flex justify-content-center align-items-center">
      <div class="login-form">
            <%= render 'form', user: @user %>            
      </div>    
  </div>
</section>
