.font-label-style{
    font-size: 2.5rem;
}

.form-input{
    padding: 15px 0 15px 0;
}

.check-input-style input{
    height: 5vh;
    width: 3vw;
}

.icon-size-group{
    font-size: 2.5rem;
}

.check-item-style{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.check-item-style input{
    padding-left: 15px;
    padding-right: 15px;
}

.check-item-style label{
    padding-left: 30px;
    padding-right: 30px;
}

.link-edit-back{    
    padding: 15px 90px 15px 0;
    text-decoration: underline;
}
