.login-items {
    padding: 0;
    margin: 0;
    width: 80%;
}

.login-items li{
    list-style: none;
}

.sign-up-link{
    padding-left: 10px;
}

.login-session-form{
    padding-top: 30%;    
    padding-left: 50%;
    width: 100%;
}