.login-items {
    
    text-align: center; 
    padding: 0;      
}

.login-items input{
    font-size: 2.5rem;
    height: 10vh;    
}

.login-items li{
    list-style: none;    
}

.link-back{
    font-size: 2.5rem;
    color: #878a8f
}