.login{
    background-color: #fff;
    width: 100vw;
}

.login-wrapper{    
    height: 100vh;
}

.login-form {    
    width: 20vw;
    height: 30vh;
}

.login-form a{
    color: #000;
}

.login-items {
    padding: 0;
    margin: 0;
}

.login-items li{
    list-style: none;
}

.sign-up-link{
    padding-left: 10px;
}