.profile {        
    height: 90vh;
    background-color: greenyellow;
    width: 100vw;

}

.menu-profile li{    
    list-style: none;    
    padding: 0;
    margin: 0;
}

.profile a{
    color: #000;
}

.menu-profile {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.content-profile {
    background-color: #fff;
}

.icon-user {
    font-size: 2rem;
    text-align: center;
}