<% provide(:navbar_page_title, "Proceed payment") %>
<br>
<div class="checkout-wrapper">
  
  <p class="font-label-style">
    <% if @wishlist.icons? %>
            <td> 
              <% @wishlist.groups.each do |t| %> 
                <i class="<%= t.icon %>"></i> 
              <% end %>
            </td>
          <% else %>
            <td> <i class="fas fa-question-circle"></i> </td>
      <% end%> 
    <%= @wishlist.name %>
  </p>
  <p class="font-label-style">
    <strong>Total Payment:</strong>
    <%= @wishlist.price %>
  </p>
  
  <br><br>
</div>

<%= button_to "Pay", new_wishlist_path,  :class => "btn new-wishlist-button", :method => :get %>


