<nav class="d-flex justify-content-between">
  <div class="options">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Others</a>
      </li>  
    </ul>
  </div>
  <h1 class="title-app">group our transactions</h1>
  <div class="login">
    <ul class="nav">
      <li class="nav-item">        
        <%= link_to "Sing up ", signup_path, class: "nav-link active", method: 'get' %>
      </li>
      <li class="nav-item">        
        <%= link_to "Sing in", login_path, class: "nav-link", method: 'get' %>
      </li>
      <li class="nav-item">        
        <%= link_to "Log out", logout_path, class: "nav-link", method: 'delete' %>
      </li>
    </ul>
  </div>
</nav>
