<section class="row container-home justify-content-md-center">
    <div class="col-12 title-home row justify-content-md-center align-items-center"> 
        <h1>Groups our wishlist</h1>
    </div>
    <div class="col-12 login-home ">
        <%= button_to "SIGN IN", login_path, :class => "btn btn-custom-login", :method => :get %>
        <%= button_to "SIGN UP", signup_path, :class => "btn btn-custom-signup", :method => :get %>
    </div>    
</section>
